<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/index.html">VOLVER</a>
    </div>
    <div class="laptop">
        <img src="/public/img/macbook-air-medium.png" alt="" class="marco">
        <video class="video" width="640" height="360" autoplay loop muted controls>
            <source src="/public/img/MercadoLiebre-video.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
    </div>
</body>
</html>